.hidden { display: none }


body {
	display: flex;
	justify-content: center;
	/*background-image: url(../includes/back.jpg);*/
	background-repeat: repeat;
	background-color: #333;
	color: white;
	font-family: sans-serif;
	font-size: 14px;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 24px;
}

header{
	background-color: #333;
	width: 960px;
}


#music-board { 
	width: 960px;
	text-align: center; 
}

.stage, .lineup {
	height: 640px;
	display: inline-block;
	border: medium solid #333;
	background-color: #000;
	color: inherit;
	overflow: hidden;
}

.stage {
	width: 600px;
}

.lineup { 
	width: 300px;
}

.lineup img { 
	width: 70px;
	height: 150px; 
}

.drop-zone {
	width: 24.6%;
	height: 24.6%;
	border: thin dashed white;
	float: left;
	position: relative;
}


.drop-zone img {
	float: left;
	height: 100%;
	width: auto !important;
	padding: 0 !important;
	cursor: default;
	position: absolute;
}

/*
.a1:hover, .b1:hover, .c1:hover, .d1:hover {
	background-position: center;
	background-image: url(../includes/jpop_char_hold.png);
	background-height: 100%;
	background-repeat: no-repeat;
}
.a2:hover, .b2:hover, .c2:hover, .d2:hover {
	background-position: center;
	background-image: url(../includes/hiphop_char_hold.png);
	background-height: 100%;
	background-repeat: no-repeat;
}
.a3:hover, .b3:hover, .c3:hover, .d3:hover {
	background-position: center;
	background-image: url(../includes/rock_char_hold.png);
	background-height: 100%;
	background-repeat: no-repeat;
}
.a4:hover, .b4:hover, .c4:hover, .d4:hover {
	background-position: center;
	background-image: url(../includes/house_char_hold.png);
	background-height: 100%;
	background-repeat: no-repeat;
}
*/