.hidden {
	display: none;
}



main {background:rgba(21,22,43,1);}


.container {
	display: flex;
	justify-content: space-around;
	margin: auto;
	width: 880px;
	height: 720px;
	border: thin dotted red;
	background-image: url(../images/background_opt.jpg);
}

.music-board {
	display: flex;
	justify-content: space-around;
	margin-top: 200px;
	width: 860px;
	height: 400px;
}

.stage {
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
	align-content: space-between;
	width: 400px;
	height: inherit;
}

.lineUp {
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
	align-content: space-between;
	width: 400px;
	height: inherit;
}

.drop-zone {
	display: flex;
	width: 23%;
	height: 23%;
	background:rgba(255,255,255, 0.2);
}

.drop-zone img {
	padding: 4px;
	height: 85px;
	width: 85px;
}

.a1, .d1 {background:rgba(249,174,70,.75);}
.b1, .d2 {background:rgba(253,83,83,.75);}
.a2, .d3 {background:rgba(255,127,171,.75);}
.b2, .c4 {background:rgba(101,254,217,.75);}
.a3, .c1, .c3 {background:rgba(74,207,255,.75);}
.a4, .c2 {background:rgba(255,235,2,.75);}
.b3 {background:rgba(240,72,129,.75);}
.b4, .d4 {background:rgba(69,39,160,.75);}

.drag-zone {
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	width: 23%;
	height: 23%;
	background:rgba(255,255,255, 0.2);
}

.drag-zone img {
	padding: 4px;
	height: 85px;
	width: 85px;
}
